# Competitive Learning

In [ ]:
import pandas as pd
import numpy as np

In [2]:
#PASO 1. CARGAR BASE DE DATOS Y RUTAS
BaseAumentada = pd.read_csv("C:/Users/clau_/OneDrive/Documentos/FCFM/03_Tetramestre/Aprendizaje_Profundo/Clase 04/BaseLD.csv")
BaseAumentada

,SegmentR,PEPR,AgeR,TimeRelationR,IncomeSourceR,ActivityR,NationalityR,CommonAddR,ProductTR,SubproductR,...,SumReR,RSR,AAR,SendingNumR,ReceivingNumR,StateOpeR,StateResR,MunOpeR,MunResR,CountryR
0,80,100,96,100,100,97,96,72,98,77,...,64,66,72,80,78,91,79,97,89,99
1,96,96,97,98,99,96,96,69,97,77,...,83,84,71,81,78,92,81,99,90,100
2,81,98,99,99,99,98,97,68,96,98,...,84,64,89,82,82,90,82,99,92,96
3,96,99,99,100,96,99,99,68,98,99,...,84,84,88,81,80,91,82,96,89,96
4,82,99,98,98,97,100,97,68,100,96,...,66,84,68,80,82,89,82,97,89,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27746,19,12,32,19,27,19,11,11,26,8,...,25,23,29,4,6,19,19,17,4,10
27747,20,9,32,18,25,19,10,10,27,12,...,26,27,12,21,20,18,22,16,5,9
27748,22,10,34,21,26,19,8,10,26,3,...,24,5,28,18,6,29,20,15,7,8
27749,20,12,33,20,24,22,9,11,23,6,...,24,27,12,20,18,28,9,14,5,12
27750,20,11,34,21,26,19,9,8,27,11,...,3,27,8,5,21,22,18,16,7,8

In [3]:
# Inicializar matrices
m, n = BaseAumentada.shape
neuronas = np.zeros((3, n))
promedio = np.zeros((1, n))
minimo = np.zeros((1, n))
maximo = np.zeros((1, n))
pertenencia = np.zeros((m, 1))

In [5]:
# Initialize the locations
for i in range(n):
    minimo[0, i] = BaseAumentada.iloc[:, i].min()

for i in range(n):
    maximo[0, i] = BaseAumentada.iloc[:, i].max()

for i in range(n):
    promedio[0, i] = BaseAumentada.iloc[:, i].mean()

neuronas[0, :] = minimo[0, :]
neuronas[1, :] = promedio[0, :]
neuronas[2, :] = maximo[0, :]

In [7]:
# Synaptic Potential
distancia = np.zeros((1, 3))
base = BaseAumentada.values

In [9]:
# Cluster
cluster = np.zeros((1, 3))

for k in range(1, 4):
    cluster = np.zeros((1, 3))

    for i in range(m):
        for j in range(3):
            distancia[0, j] = np.linalg.norm(base[i, :] - neuronas[j, :])

        un = 0.5 * (1 - i / m)
        min_distancia = np.min(distancia)

        if distancia[0, 0] == min_distancia:
            neuronas[0, :] = neuronas[0, :] + un * (base[i, :] - neuronas[0, :])
            cluster[0, 0] += 1
            pertenencia[i] = 1
        elif distancia[0, 1] == min_distancia:
            neuronas[1, :] = neuronas[1, :] + un * (base[i, :] - neuronas[1, :])
            cluster[0, 1] += 1
            pertenencia[i] = 2
        elif distancia[0, 2] == min_distancia:
            neuronas[2, :] = neuronas[2, :] + un * (base[i, :] - neuronas[2, :])
            cluster[0, 2] += 1
            pertenencia[i] = 3

In [11]:
# Print Neurons
neuronas_df = pd.DataFrame(neuronas, columns=BaseAumentada.columns)
neuronas_df

,SegmentR,PEPR,AgeR,TimeRelationR,IncomeSourceR,ActivityR,NationalityR,CommonAddR,ProductTR,SubproductR,...,SumReR,RSR,AAR,SendingNumR,ReceivingNumR,StateOpeR,StateResR,MunOpeR,MunResR,CountryR
0,44.300393,10.039706,45.661731,35.967142,44.078351,35.159872,10.040944,9.897120,24.943522,32.436045,...,14.459938,14.678275,20.739367,12.642091,11.627267,24.841689,28.720021,15.059078,4.923971,9.983436
1,19.977196,9.886293,33.087166,19.980228,25.041512,19.933822,9.815639,10.056187,24.888096,7.457917,...,13.003594,14.970510,18.841400,13.094227,12.192215,24.892129,15.117966,15.160274,4.885530,9.982739
2,74.713518,83.805913,93.527984,97.970712,97.647401,77.164302,41.520099,10.438848,33.694779,87.636650,...,25.068864,35.148125,33.474816,13.588217,14.333728,24.906149,61.934130,16.232354,79.543886,97.986806

In [12]:
# Print means
suma_promedio = np.sum(neuronas, axis=1) / 30
suma_promedio_df = pd.DataFrame({"Neurona": ["Neurona1", "Neurona2", "Neurona3"], "Suma.Promedio": suma_promedio})
suma_promedio_df

    Neurona  Suma.Promedio
0  Neurona1      24.003215
1  Neurona2      16.625394
2  Neurona3      53.711834

In [13]:
# Print Clusters
cluster_df = pd.DataFrame({"Neurona": ["Neurona1", "Neurona2", "Neurona3"], "Cluster": cluster.flatten()})
cluster_df

    Neurona  Cluster
0  Neurona1    199.0
1  Neurona2  13962.0
2  Neurona3  13590.0

In [14]:
# Print Ownership
pertenencia_df = pd.DataFrame(pertenencia, columns=["Pertenencia"])
base_actualizada = pd.concat([pertenencia_df, BaseAumentada], axis=1)
base_actualizada

,Pertenencia,SegmentR,PEPR,AgeR,TimeRelationR,IncomeSourceR,ActivityR,NationalityR,CommonAddR,ProductTR,...,SumReR,RSR,AAR,SendingNumR,ReceivingNumR,StateOpeR,StateResR,MunOpeR,MunResR,CountryR
0,3.0,80,100,96,100,100,97,96,72,98,...,64,66,72,80,78,91,79,97,89,99
1,3.0,96,96,97,98,99,96,96,69,97,...,83,84,71,81,78,92,81,99,90,100
2,3.0,81,98,99,99,99,98,97,68,96,...,84,64,89,82,82,90,82,99,92,96
3,3.0,96,99,99,100,96,99,99,68,98,...,84,84,88,81,80,91,82,96,89,96
4,3.0,82,99,98,98,97,100,97,68,100,...,66,84,68,80,82,89,82,97,89,97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27746,2.0,19,12,32,19,27,19,11,11,26,...,25,23,29,4,6,19,19,17,4,10
27747,2.0,20,9,32,18,25,19,10,10,27,...,26,27,12,21,20,18,22,16,5,9
27748,2.0,22,10,34,21,26,19,8,10,26,...,24,5,28,18,6,29,20,15,7,8
27749,2.0,20,12,33,20,24,22,9,11,23,...,24,27,12,20,18,28,9,14,5,12
27750,2.0,20,11,34,21,26,19,9,8,27,...,3,27,8,5,21,22,18,16,7,8